{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <h1 class="govuk-heading-xl">Case Management System</h1>

  <p>Here is a list of your tasks/cases:</p>

  <!-- The freedom is yours. You can design the solution however you like, however there is a starting point provided
  to ensure you have both services running. You may want to make use of the Gov UK Components:
  https://design-system.service.gov.uk/components/ to add tabs and so forth :) -->

  {% if tasks.length %}
    <div class="govuk-summary-list">
      {% for task in tasks %}
        <div class="govuk-summary-list__row">
          <div class="govuk-summary-list__key" style="width: 30%; display: inline-block;">
            <strong>Title</strong>
          </div>
          <div class="govuk-summary-list__value" style="display: inline-block; width: 65%;">
            {{ task.title }}
          </div>
          <div class="govuk-summary-list__key" style="width: 30%; display: inline-block;">
            <strong>Case Number</strong>
          </div>
          <div class="govuk-summary-list__value" style="display: inline-block; width: 65%;">
            {{ task.caseNumber }}
          </div>
          <div class="govuk-summary-list__actions">
            <a href="/tasks/{{ task.id }}/view" class="govuk-link">View</a>
            <a href="/tasks/{{ task.id }}/edit" class="govuk-link">Edit</a>
            <a href="/tasks/{{ task.id }}/delete" class="govuk-link govuk-link--no-visited-state">Delete</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No tasks available.</p>
  {% endif %}

  <a href="/tasks/create" class="govuk-button">Create New Task</a>
{% endblock %}
